# Ignore folders
data

# Others
*.csv
# *.txt
# *.png
# *.pdf

# Virtual environment
venv

# Vscode
*.vscode

# Byte compiled
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py