absl-py
astor
backports.weakref
bleach
decorator
enum34
funcsigs
gast
grpcio
html5lib
Markdown
mock
networkx
numpy
pbr
protobuf
scikit-learn
scipy
six
sklearn
tensorboard
tensorflow
termcolor
Werkzeug